*{
    font-family: sans-serif;
    color: white;
}
body{
    /* background-color: salmon;     */
    margin: 0;
    padding: 0;
    /* height: 1000px; */
    background-color: rgb(17, 17, 17);
}

.navbar{
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    background-image: linear-gradient(#272727, #222222);
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    top: 0;
    z-index: 10;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
    /* margin-bottom: 10vh; */
}

span{
    color: #7a7a7a;
}

.nav{
    margin-left: 30vw;
    width: 35vw;
    /* background-color: salmon; */
    display: flex;
    justify-content: space-between;
}

.nav > a{
    text-decoration: none;
}

button[type='submit']{
    background-color: salmon;
}

.container{
    height: fit-content;
    /* padding-top: 0 20; */
    margin-top: 50px;
    /* width: 100vw; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerTable{
    z-index: 2;
    top: 50px;
    width: 80%;
    background-color: #333333;
    padding: 10px;
}
table{
    border: 2px solid black;
    border-collapse: collapse;    
}

th{
    line-height: 40px;
    padding: 10px;
}

td, th{
    border: 2px solid white;
}

.img{
    width: 95px;
    height: 160px;
}

input[type='checkbox']{
    width: 30px;
    height: 20px;
}

.footer{
    /* position: absolute; */
    /* bottom: 0; */
    height: 150px;
    background-image: linear-gradient(#222222ab, #030303ab);
}

.quote > p {
    /* background-color: salmon; */
    margin-top: 0;
    font-size: 100px;
    text-align: center;
}